<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="navbar-brand"> Practice Angular </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['dashboard']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"> Dashboard </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['movies']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"> Movies </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['actors']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"> Actors/Actress </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="[{ outlets: { popup: ['named-outlet'] } }]"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"> Contact </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['login']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"> Login </a>
    </li>
  </ul>
</nav>
