/*:host{*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/
.box, .box1{
  background-color: #105763;
  font-family: sans-serif;
  padding: 50px;
  text-align: -webkit-center;
  /*height: 235px;*/
}

.box h3{
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

.box h3:hover{
  color: greenyellow;
}

.box input[type = 'text'], .box input[type = 'password']{
  background: none;
  border: 0;
  border: 2px solid #0d7e90;
  border-radius: 25px;
  color: white;
  display: -webkit-box;
  margin: 15px;
  padding: 8px 10px;
  text-align: center;
  outline: none;
  width: 200px;
}

.box input[type = 'text']:focus, .box input[type = 'password']:focus{
  border-color: greenyellow;
  width: 300px;
}

.box input[type = 'submit'],
.box input[type = 'reset'],
.box1 input[type = 'submit'],
.box1 input[type = 'reset'] {
  background: none;
  border: 2px solid #0d7e90;
  border-radius: 25px;
  color: white;
  padding: 8px 10px;
  width: 150px;
  cursor: pointer;
  margin: 10px 10px
}

.box input[type = 'submit']:hover,
.box input[type = 'reset']:hover,
.box1 input[type = 'submit']:hover,
.box1 input[type = 'reset']:hover{
  background-color: greenyellow;
  border-color: greenyellow;
  color: black;
}

.box input[type = 'submit']:disabled,
.box input[type = 'reset']:disabled,
.box1 input[type = 'submit']:disabled,
.box1 input[type = 'reset']:disabled{
  color: #adb5bd;
}

.box input[type = 'submit']:disabled:hover,
.box input[type = 'reset']:disabled:hover,
.box1 input[type = 'submit']:disabled:hover,
.box1 input[type = 'reset']:disabled:hover{
  background: none;
  border: 2px solid #0d7e90;
  color: #adb5bd;
}


.box span{
  padding: 30px 0px 0px 0px;
  display: -webkit-box;
}

