<div class="box" *ngIf="!authService.isLoggedIn">
  <h3>Login</h3>
  <input type="text" [(ngModel)]="username" placeholder="Username">
  <input type="password" [(ngModel)]="password" placeholder="Password">
  <input type="submit" role="button" (click)="onLogin()" value="Login">
  <input type="submit" role="button" (click)="onClear()" value="Clear">
  <span style="font-size: 11px; color: orange">Please login to go to admin section</span>
</div>
<div class="box1">
  <input type="submit"
         role="button"
         [disabled]="username == '' || password == ''"
         *ngIf="authService.isLoggedIn"
         (click)="onLogout()" value="Logout">
</div>




