<div class="row">
  <h2> Top Movies</h2>
  <div class="card-deck">
    <div class="card bg-light text-dark" *ngFor="let movie of movies">
      <img class="card-img-top" [src]="movie.posterUrl" alt="Movie poster">
      <h5 class="card-title text-center" style="margin-top: 10px">{{movie.title}}</h5>
    </div>
  </div>
  <a routerLink="/movies" style="text-decoration: none">See more..</a>
</div>

<div class="row">
  <h2 style="margin: 50px 0px 10px 0px;"> Top Actor/Actress</h2>
  <div class="card-deck">
    <div class="card bg-light text-dark" *ngFor="let actor of actorActress">
      <img class="card-img-top" [src]="actor.imageUrl" alt="Actor/Actress image">
      <h5 class="card-title text-center" style="margin-top: 10px">{{actor.name}}</h5>
    </div>
  </div>
  <a routerLink="/actors" style="text-decoration: none">See more..</a>
</div>

